body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.profile {
    width: 100%;
}

.text-muted {
    color: #00a4f3;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

.image {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

.separator {
    height: 5px;
    width: 100%;
    background: #00a4f3;
    margin-bottom: 15px;
}


